#root {
  margin: 0 auto;
  text-align: center;
}

.map-container{
  margin: 0 auto;
  width: 90%;
  height: 400px;
  margin-bottom: 3em;
}
.icon-maps{
  width: 100px;
}
/*==============gallery===============*/
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: 0 3em;
}

.gallery-item {
  width: calc(70% - 10px);
  margin-bottom: 10px;
  cursor: pointer;
}


.gallery-item:last-child {
  margin-right: 0;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
}
@media (min-width: 768px) {
  .gallery-item {
    width: calc(24% - 10px);
    margin-bottom: 1em;
  }
}

@media (max-width: 600px){
  .gallery-row{
    justify-content: center;
  }
}