
* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

/* ==================
    Typography
===================== */

h1, h2, strong {
    font-weight: 700;
}

.accent-color {
    color: #FFE600;
}

.page-title,
.subtitle {
    grid-column: 2 / -2;
    color: #000;
    text-align: center;
}

.page-title {
    font-size: 3rem;
    margin-bottom: .5em;
    justify-self: center;
}

.page-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: #FFE600;
    margin-top: -40px;
    margin-left: 15px;
}

.subtitle {
    margin: .5em 0 3em;
    font-size: 1.3rem;
    color: #FFE600;
    text-align: center;
    font-weight: 700;
}

.hero-title {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}


.section-title:hover,
.section-title:focus {
  color:#FFE600;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 10px;
    background: #FFE600;
}

.section-title-center::after {
    margin-left: auto;
    margin-right: auto;
    
}

/*section-title:first-child {
    margin-top: 0;
}*/
.section-title {
  font-size: 1.125rem;
  color: #000;
  cursor: pointer;
  
}

/* buttons */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
    border: 0;
}

.btn-primary {
    background: #FFE600;
    color: black;
    justify-self: center;
    border-radius: 5px;
    transition: color 0.5s;
}
.btn-primary:hover,
.btn-primary:focus{
  color: white;
}

.btn-form {
    align-self: end;
}
.button-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFE600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-weight: 700;
  }


/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

@media (min-width: 640px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 400px)) minmax(1em, 1fr);
        
    }
}

/* navigation */

.header-home {
    background: #FFE600;
    position: absolute;
    width: 100%;
}
.header{
    background:rgb(175,173,174);
    position:relative;
    width: 100%;
}



.header-content {
    display: flex;
    grid-column: 1 / -1;
    margin-right: 4rem;
}

.logo-link {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.logo{
	display: inline-block;
	max-width: 170px;
    min-width: 100px;
    font-weight: 700;
    color: black;
    padding: 0 1em;
    margin: 0;
    padding-top:1rem;
    
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0%);
    transition: transform 500ms;
    background-color: #FFE600;
}

.responsive_nav {
    
    background-color: #FFE600;
    transform: translateX(-100%);
    
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: rgb(35,31,32);;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
   
    border-bottom: rgb(35,31,32) solid 1px;
}

.close-nav-btn {
    border: 0;
    background: 0;
    color: rgb(35,31,32);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.open-nav-btn {
    border: 0;
    background: 0;
    color: rgb(35,31,32);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.7em;
}
.accent-color{
  border-bottom: #FFE600 solid 2px;
}



@media (min-width: 640px) {
    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }
   
    
    .nav {
        position: initial;
    }
    
    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-item {
        margin-left: 2em;
    }
    
    .nav-link {
        font-size: 1rem;
    }
    
    .header-home .nav {
        background: transparent;
        
    }

    
}


/* footer */

.footer {
    background: #ebebeb;
    font-size: 0.8rem;
    padding: 3em 0;
    text-align: center;
    grid-template-areas:
        ". props ."
        ". contacts ."
        ". member . ";
}

.footer-contacts,
.social-list {
    grid-column: 2 / -2;
}

.footer-logo,
.footer-text,
.footer-fineprint,
.footer-assoc-member {
    opacity: .3;
}

.footer-contacts {
    grid-area: contacts;
}
.footer-props {
  grid-area: props;
}

.footer-logo{
  max-width: 150px;
}
.footer-props{
  text-align: center;
  margin-top: 1rem;
}

.footer-member {
    grid-area: member;
    padding: 0;
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: auto;
}

.lkga-logo{
    width: 150px;
    margin-top: auto;
}

.social-link:hover {
    color: #777;
}

@media (min-width: 600px) {
    .footer {
        grid-template-areas: 
          ". contacts props member ."
    }
    
    .footer-contacts {
        text-align: left;
    }
    .footer-props {
      text-align: left;
  }
    
    
    .social-list {
        justify-content: flex-end;
    }
    .footer-text{
      line-height: 1.2;
    }
  
}

/* ==================
    hero area
===================== */

.hero {
	/*background-color:#c3c898;*/
    background-image:linear-gradient(0deg, rgba(255 255 255 / 20%), rgba(97, 96, 97, 0.7)), url(assets/background_vintage.jpg);
    background-size: cover;
    background-position: top;
    padding: 8em 0 4em;
    color: rgb(35,31,32);
}

.hero > * {
    grid-column: 2 / -2;
}



@media (min-width: 600px) {
    
    .hero {
        padding: 10em 0 5em;
        margin-bottom: 3rem;
    }
    
    .hero > * {
        grid-column: 1 / -1;
    }

}


/* ==================
    info section
===================== */

.info {
    padding: 2em 0;
    text-align: center;
}

.col {
    grid-column: 2 / -2;
    cursor: pointer;
    margin-bottom: 3rem;
}
.icons-services{
    width: 50px;
    transition: transform 400ms;
}
.icons-services:hover{
    transform: translateY(-3px);
}



@media (min-width: 600px) {
    .col {
        grid-column: span 1;
    }
    
    .col:first-child {
        grid-column: 2 / span 1;
    }

    .icons-services{
        width: 50px;
        transition: transform 400ms;
    }
    .icons-services:hover{
        transform: translateY(-3px);
    }
}


/* ==================
    template page
===================== */

.main-template {
    padding: 4em 0;
}

.main-template > * {
    grid-column: 2 / -2;
}

.main-image {
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 0px black, 10px 10px 0 #FFE600;
}

@media (min-width: 600px) {
    
    
    .main-text {
        grid-column: 2 /span 3;
        grid-row: span 2;
    }
    
    
}



/* ==================
    form
===================== */

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    margin: auto 0;
}
.contact-area{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
.contact-text{
    min-width: 300px;
    max-width: 500px;
    margin: auto 0;
    padding: 2rem;
}

@media (min-width: 600px) {
    .contact-form {
        flex-direction: column;
        width: 40%;
        min-width: 400px;
        margin: auto 0;
    }
    .contact-area{
        display: flex;
        flex-direction: row;
        padding: 3rem 0;
        justify-content: center;
    }
    .contact-text{
        min-width: 300px;
        width: 40%;
        margin: 0;
        padding: 2rem;
    }

}

label {
    font-weight: 700;
}

input,
textarea {
    margin-bottom: .75em;
    padding: .4em;
    font-family: inherit;
}

textarea {
    resize: none;
    height: 100px;
}




/*==============================POPUP================================*/


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 10;
    
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
  }


  .list-items,
  .list-items-intro{
    margin-bottom: 1em;
    text-align: left;
  }
  .list-items-intro{
    list-style: none;
    font-weight: 700;
  }


  /*==============================Experience-page================================*/

  .experience-year{
    padding: 0.5em 1em;
    font-weight: 700;
    margin-top: 0.5em;
    text-decoration: none;
    border: 0;
    background:#FFE600;
    width:140px;
    border-radius: 10px;
  }

  .list-items-experience{
    text-align: left;
    line-height: 2rem;
  }


  @media (min-width: 600px) {
    .experience-sections{
        display:flex;
        min-width: 300px;
        width:90%;
        margin: 0 auto;
        margin-top: 3em;
    
    }
    .experience-info{
        width:50%
    }
 
  }


    .page {
        display: grid;
        padding-top: 6em;
        width: 100%;
        height: 250px;
        grid-template-areas:
          " . head head head ."
          " . nav  main main ."
          " . nav  foot foot .";
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 400px)) minmax(1em, 1fr);
      }
      
      .page > h1 {
        grid-area: head;
        background-color: #8ca0ff;
      }
      
      .page > nav {
        grid-area: nav;
        background-color: #ffa08c;
      }
      
      .page > main {
        grid-area: main;
        background-color: #ffff64;
      }
      
      .page > footer {
        grid-area: foot;
        background-color: #8cffa0;
      }

      /*===================================================DROPDOWN PAGES==============================*/
      @media (min-width: 600px) {
        .dropdown-pages{
            padding-top: 4em;
            grid-template-areas: 
            ". page-title page-title page-title ."
            ". services-img services-list services-list . ";
            margin-bottom: 2em;
         
        }

        .services-img{
            grid-area: services-img;
            margin: auto 0;
            
        }
        .services-list{
            grid-area: services-list;
            margin: 2em 0;
            
        }
    }