
* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}
.no-scroll {
    overflow: hidden;
    height: 100%;
  }

/* ==================
    Typography
===================== */

h1, h2, strong {
    font-weight: 700;
}

.accent-color {
    color: #FFE600;
}

.page-title,
.subtitle {
    grid-column: 2 / -2;
    color: #000;
    text-align: center;
}

.page-title {
    font-size: 2.3rem;
    margin-bottom: 1em;
    justify-self: center;
}
.title-small-screen{
    font-size: 1.7em;
}
.wide{
    font-size: 1.5em;
}


.page-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: #FFE600;
    margin-top: -40px;
    margin-left: 15px;
}
.title-small-screen::after {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    background: #FFE600;
    margin-top: -20px;
    margin-left: 0px;

}

.subtitle {
    margin: 1.5em 0 3em;
    font-size: 1.3rem;
    color: #FFE600;
    text-align: center;
    font-weight: 700;
}

.hero-title {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}


.section-title:hover,
.section-title:focus {
  color:#FFE600;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 10px;
    background: #FFE600;
}

.section-title-center::after {
    margin-left: auto;
    margin-right: auto;
    
}

/*section-title:first-child {
    margin-top: 0;
}*/
.section-title {
  font-size: 1.125rem;
  color: #000;
  cursor: pointer;
  
}

/* buttons */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
    border: 0;
}

.btn-primary {
    background: #FFE600;
    color: black;
    justify-self: center;
    border-radius: 5px;
    transition: color 0.5s;
}
.btn-primary:hover,
.btn-primary:focus{
  color: white;
}

.btn-form {
    align-self: end;
}
.button-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFE600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-weight: 700;
  }


/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

@media (min-width: 640px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 400px)) minmax(1em, 1fr);
        
    }
    .page-title {
        font-size: 3rem;
        margin-bottom: .5em;
        justify-self: center;
    }
    .title-small-screen::after {
        content: '';
        display: block;
        width: 100%;
        height: 25px;
        background: #FFE600;
        margin-top: -35px;
        margin-left: 15px;
    
    }
}

/* navigation */

.header-home {
    background: #FFE600;
    position: absolute;
    width: 100%;
}
.header{
    background:rgb(175,173,174);
    position:relative;
    width: 100%;
}



.header-content {
    display: flex;
    grid-column: 1 / -1;
    margin-right: 2rem;
}

.logo-link {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.logo{
	display: inline-block;
	max-width: 170px;
    min-width: 100px;
    font-weight: 700;
    color: black;
    padding: 0 1em;
    margin: 0;
    padding-top:1rem;
    
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0%);
    transition: transform 500ms;
    background-color: #FFE600;
    z-index: 1;
    
}

.responsive_nav {
    
    background-color: #FFE600;
    transform: translateX(-100%);
    z-index: 1;
    
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* overflow: hidden; */
}

.nav-link {
    color: rgb(35,31,32);;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
   
    border-bottom: rgb(35,31,32) solid 1px;
}

.close-nav-btn {
    border: 0;
    background: 0;
    color: rgb(35,31,32);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.open-nav-btn {
    border: 0;
    background: 0;
    color: rgb(35,31,32);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.7em;
}
.accent-color{
  border-bottom: #FFE600 solid 2px;
}



@media (min-width: 640px) {
    .header-content {
        display: flex;
        grid-column: 1 / -1;
        margin-right: 4rem;
    }
    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }
   
    
    .nav {
        position: initial;
    }
    
    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-item {
        margin-left: 2em;
    }
    
    .nav-link {
        font-size: 1rem;
    }
    
    .header-home .nav {
        background: transparent;
        
    }

    
}


/* footer */

.footer {
    background: #ebebeb;
    font-size: 0.8rem;
    padding: 3em 0;
    text-align: center;
    grid-template-areas:
        ". props . "
        ". contacts . "
        " . member . ";
}

.footer-contacts {
    grid-column: 1 / -1;
}

.footer-logo,
.footer-text,
.footer-fineprint,
.footer-assoc-member {
    opacity: .5;
}

.footer-contacts {
    grid-area: contacts;
}
.footer-props {
  grid-area: props;
}

.footer-logo{
  max-width: 150px;
}
.footer-props{
  text-align: center;
  margin-top: 1rem;
}

.footer-member {
    grid-area: member;
    padding: 0;
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: auto;
}

.lkga-logo{
    width: 150px;
    margin-top: auto;
}

.social-link:hover {
    color: #777;
}

@media (min-width: 600px) {
    .footer {
        grid-template-areas: 
          ". contacts props member ."
    }
    
    .footer-contacts {
        text-align: left;
    }
    .footer-props {
      text-align: left;
  }
    
    .footer-text{
      line-height: 1.2;
    }
  
}

/* ==================
    hero area
===================== */

.hero {
	/*background-color:#c3c898;*/
    background-image:linear-gradient(0deg, rgba(255 255 255 / 20%), rgba(97, 96, 97, 0.7)), url(assets/background_vintage.jpg);
    background-size: cover;
    background-position: top;
    padding: 9em 0 7em;
    color: rgb(35,31,32);
}

.hero > * {
    grid-column: 2 / -2;
}



@media (min-width: 600px) {
    
    .hero {
        padding: 10em 0 8em;
        margin-bottom: 3rem;
    }
    
    .hero > * {
        grid-column: 1 / -1;
    }

}


/* ==================
    info section
===================== */

.info {
    padding: 2em 0;
    text-align: center;
}

.col {
    cursor: pointer;
    margin-bottom: 3rem;
    
}
.col-second {
    margin-bottom: 6rem;
    
}

.col:first-child{
    padding-top: 3em;
}

.icons-services{
    width: 50px;
    transition: transform 400ms;
}
.icons-services:hover{
    transform: translateY(-5px);

}
.first-line,
.second-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 600px) {
    
    .col{
        justify-content: space-between;
    }
    .col-second{
        margin: 0 6em;
        margin-bottom: 6rem;
    }
    .icons-services{
        width: 50px;
        transition: transform 400ms;
    }
    .icons-services:hover{
        transform: translateY(-5px);
    }
    .second-line,
    .first-line{
        display: flex;
        flex-direction: row;
    }
    .second-line{
        justify-content: center;
       
    }
    
    .first-line{
        justify-content:space-around;
    }
   
}


/* ==================
    template page
===================== */

.main-template {
    padding: 6em 0;
}

.main-template > * {
    grid-column: 2 / -2;
}

.main-image {
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 0px black, 10px 10px 0 #FFE600;
}

@media (min-width: 600px) {
    
    
    .main-text {
        grid-column: 2 /span 3;
        grid-row: span 2;
    }
    
    
}



/* ==================
    form
===================== */

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    margin: auto 0;
}
.contact-area{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
.contact-text{
    min-width: 250px;
    max-width: 500px;
    margin: auto 0;
    padding: 2rem;
}

@media (min-width: 600px) {
    .contact-form {
        flex-direction: column;
        width: 40%;
        min-width: 400px;
        margin: auto 0;
    }
    .contact-area{
        display: flex;
        flex-direction: row;
        padding: 3rem 0;
        justify-content: center;
    }
    .contact-text{
        min-width: 300px;
        width: 40%;
        margin: 0;
        padding: 2rem;
    }

}

label {
    font-weight: 700;
}

input,
textarea {
    margin-bottom: .75em;
    padding: .4em;
    font-family: inherit;
}

textarea {
    resize: none;
    height: 100px;
}




/*==============================POPUP================================*/


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 10;
    
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
  }


  .list-items,
  .list-items-intro{
    margin-bottom: 1em;
    text-align: left;
  }
  .list-items-intro{
    list-style: none;
    font-weight: 700;
  }


  /*==============================Experience-page================================*/

  .experience-year{
    padding: 0.2em 0.8em;
    font-weight: 700;
    margin: 3em  auto 0;
    text-decoration: none;
    border: 0;
    background:#FFE600;
    width:120px;
    border-radius: 10px;
  }
  .experience-card{
    background-color: white;
    box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
    transition: box-shadow 0.3s;
  }
  .card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    transition: box-shadow 0.3s;
    width: 270px;
    height: 230px;

    
  }
  
  .card:hover {
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .list-items-experience{
    text-align: left;
    line-height: 2rem;
  }
 
  @media (min-width: 600px) {
    .experience-sections{
        display:flex;
        min-width: 300px;
        width:90%;
        margin: 0 auto;
        margin-top: 3em;
    
    }
    .card {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 1.5rem;
        transition: box-shadow 0.3s;
        width: 270px;
        height: 230px;
    
        
      }

    .experience-info{
        width:50%
    }
    .experience-year{
        padding: 0.5em 1em;
        font-weight: 700;
        margin-top: 0.5em;
        text-decoration: none;
        border: 0;
        width:140px;
        border-radius: 10px;
      }
 
  }
      /*===================================================DROPDOWN PAGES==============================*/
      .dropdown-pages:first-child{
        padding-top: 6em;
      }
      
      .dropdown-pages{
        padding-top: 3em;
        grid-template-areas: 
        ". page-title page-title page-title ."
        ". services-list services-list services-list . "
        " . services-img services-img services-img . ";
        margin-bottom: 2em;
        
     
    }
    .services-img{
        grid-area: services-img;
        margin: auto 0;
        
        
    }
    .services-list{
        grid-area: services-list;
        margin: 2em 0;
        
    }
      @media (min-width: 600px) {
        .dropdown-pages{
            padding-top: 4em;
            grid-template-areas: 
            ". page-title page-title page-title ."
            ". services-img services-list services-list . ";
            margin-bottom: 2em;
         
        }

        .services-img{
            grid-area: services-img;
            margin: auto 0;
            
        }
        .services-list{
            grid-area: services-list;
            margin: 2em 0;
            
        }
    }